{% extends 'base.html' %}

{% block titulo %} Ejercicio1 {% endblock %}

{% block visitada1 %} <a href='/{{visitadas[0]}}' class="list-group-item list-group-item-action bg-light">{{visitadas[0]}}</a>{% endblock %}
{% block visitada2 %} <a href='/{{visitadas[1]}}' class="list-group-item list-group-item-action bg-light">{{visitadas[1]}}</a>{% endblock %}
{% block visitada3 %} <a href='/{{visitadas[2]}}' class="list-group-item list-group-item-action bg-light">{{visitadas[2]}}</a>{% endblock %}

{% block contenido %}
<h4>Estoy pensando en un numero del 1 al 10 ¡intenta adivinarlo!</h4>
<form action="/ejercicio1" method="post">
    <div class="form-group">
    <div class="form-group">
        <label for="example-number-input" class="col-2 col-form-label"></label>
        <div class="col-10">
        <input class="form-control" type="number" name="numeroAdivina" min="1" max="10" id="example-number-input">
        </div> 
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Contestar</button>
    </div> 
    </div>
</form>

{% endblock %}